/*  ////////////////////////////////////////////////////////  */
/* //////////////////////  START HEADER ///////////////////// */
/* ///////////////////////////////////////////////////////// */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.brand {
  color: #fff;
  padding-top: 1.12rem;
  padding-bottom: 0.7rem;
  font-weight: 800;
  font-size: 3rem;
  position: relative;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "Patrick Hand", cursive;
  align-items: center;
  z-index: 3;
}

.brand small {
  font-size: 3rem;
  color: #3bc9db;
  /* margin-left: -0.8rem; */
}

.brand span {
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-family: "Poppins", Arial, sans-serif;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
}

.nav-item {
  list-style: none;
}

.nav-link {
  padding: 1.92rem 2.5rem;
  font-family: "Patrick Hand", cursive;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #66d9e8;
}

/*  /////////////////////////////////////////////////  */
/* //////////////////  START HERO  ///////////////// */
/* //////////////////////////////////////////////// */

.section-hero {
  position: relative;
  height: 100vh;
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  z-index: 0;
}

/*  /////////////////////////////////////////////////  */
/* //////////////////  SECTION--1  ///////////////// */
/* //////////////////////////////////////////////// */

.section-1 {
  position: relative;
  height: 100vh;
  padding: 9.6rem 0;
}

.welcome {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 6rem;
  justify-content: center;
  align-items: center;
}

/* .welcome-left {
  height: 60%;
  position: relative;
} */

.welcome-img {
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
